@using BEditor.Models
@using BEditor.Core.Data
<div style="
    background: #424242;
    width: 100%;
    height: @($"{Settings.Default.ClipHeight}px");
    margin-top: 1px;"
    
    @ondragover="@(e => OnMouseMove.InvokeAsync(new() { Base = e, Layer = Layer }))">
    
    @foreach (var clip in Scene.Datas)
    {
        if (clip.Layer == Layer)
        {
            <ClipView Clip="clip" Margin_Left="tmp"></ClipView>
            tmp = clip.Parent.ToPixel(clip.End);
        }
    }
    @{tmp = 0; }
</div>

@code
{
    double tmp = 0;
    [Parameter]
    public EventCallback<LayerMouseEventArgs> OnMouseMove { get; set; }
}