<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <!-- Include production sources linked into test assemblies, while excluding test code. -->
          <IncludeTestAssembly>true</IncludeTestAssembly>
          <ExcludeByFile>**/*Exception.cs,**/*EventArgs.cs,**/tests/**/*.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
