<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
    <Rule Id="RCS1001" Action="None" />
    <Rule Id="RCS1010" Action="Warning" />
    <Rule Id="RCS1013" Action="Warning" />
    <Rule Id="RCS1016a" Action="Warning" />
    <Rule Id="RCS1016b" Action="Warning" />
    <Rule Id="RCS1018" Action="None" />
    <Rule Id="RCS1018i" Action="Warning" />
    <Rule Id="RCS1036a" Action="Warning" />
    <Rule Id="RCS1045" Action="Warning" />
    <Rule Id="RCS1045a" Action="Warning" />
    <Rule Id="RCS1046" Action="Warning" />
    <Rule Id="RCS1050" Action="Warning" />
    <Rule Id="RCS1050i" Action="Warning" />
    <Rule Id="RCS1051a" Action="Warning" />
    <Rule Id="RCS1052" Action="Warning" />
    <Rule Id="RCS1064" Action="Warning" />
    <Rule Id="RCS1078" Action="Warning" />
    <Rule Id="RCS1078i" Action="Warning" />
    <Rule Id="RCS1081" Action="Warning" />
    <Rule Id="RCS1090i" Action="Warning" />
    <Rule Id="RCS1094" Action="Warning" />
    <Rule Id="RCS1096i" Action="Warning" />
    <Rule Id="RCS1101" Action="Warning" />
    <Rule Id="RCS1104a" Action="Warning" />
    <Rule Id="RCS1111" Action="Warning" />
    <Rule Id="RCS1129" Action="None" />
    <Rule Id="RCS1138" Action="None" />
    <Rule Id="RCS1161" Action="None" />
    <Rule Id="RCS1170" Action="None" />
    <Rule Id="RCS1174" Action="Warning" />
    <Rule Id="RCS1176" Action="Warning" />
    <Rule Id="RCS1177" Action="Warning" />
    <Rule Id="RCS1207i" Action="Warning" />
    <Rule Id="RCS1242" Action="None" />
    <Rule Id="RCS1246" Action="None" />
    <Rule Id="RCS1246a" Action="Warning" />
    <Rule Id="RCS1248a" Action="Warning" />
    <Rule Id="RCS1248i" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Roslynator.Formatting.Analyzers" RuleNamespace="Roslynator.Formatting.Analyzers">
    <Rule Id="RCS0001" Action="Warning" />
    <Rule Id="RCS0003" Action="Warning" />
    <Rule Id="RCS0004" Action="Warning" />
    <Rule Id="RCS0006" Action="Warning" />
    <Rule Id="RCS0008" Action="Warning" />
    <Rule Id="RCS0009" Action="Warning" />
    <Rule Id="RCS0010" Action="Warning" />
    <Rule Id="RCS0011" Action="Warning" />
    <Rule Id="RCS0011i" Action="Warning" />
    <Rule Id="RCS0013" Action="Warning" />
    <Rule Id="RCS0014" Action="Warning" />
    <Rule Id="RCS0015i" Action="Warning" />
    <Rule Id="RCS0016" Action="Warning" />
    <Rule Id="RCS0020" Action="Warning" />
    <Rule Id="RCS0021" Action="Warning" />
    <Rule Id="RCS0022" Action="Warning" />
    <Rule Id="RCS0023" Action="Warning" />
    <Rule Id="RCS0024" Action="Warning" />
    <Rule Id="RCS0025" Action="Warning" />
    <Rule Id="RCS0027" Action="Warning" />
    <Rule Id="RCS0027i" Action="Warning" />
    <Rule Id="RCS0028" Action="Warning" />
    <Rule Id="RCS0028i" Action="Warning" />
    <Rule Id="RCS0029" Action="Warning" />
    <Rule Id="RCS0031" Action="Warning" />
    <Rule Id="RCS0032" Action="Warning" />
    <Rule Id="RCS0032i" Action="Warning" />
    <Rule Id="RCS0033" Action="Warning" />
    <Rule Id="RCS0034" Action="Warning" />
    <Rule Id="RCS0036" Action="Warning" />
    <Rule Id="RCS0038" Action="Warning" />
    <Rule Id="RCS0039" Action="Warning" />
    <Rule Id="RCS0041" Action="Warning" />
    <Rule Id="RCS0042" Action="Warning" />
    <Rule Id="RCS0043" Action="Warning" />
    <Rule Id="RCS0044" Action="Warning" />
    <Rule Id="RCS0046" Action="Warning" />
    <Rule Id="RCS0048" Action="Hidden" />
    <Rule Id="RCS0049" Action="Warning" />
    <Rule Id="RCS0050" Action="Warning" />
    <Rule Id="RCS0051" Action="Warning" />
    <Rule Id="RCS0051i" Action="Warning" />
    <Rule Id="RCS0052" Action="Warning" />
    <Rule Id="RCS0052i" Action="Warning" />
    <Rule Id="RCS0055" Action="Warning" />
    <Rule Id="RCS0056" Action="Hidden" />
  </Rules>
</RuleSet>