<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="16.0">
  <Rules AnalyzerId="Roslynator.Formatting.Analyzers" RuleNamespace="Roslynator.Formatting.Analyzers">
    <Rule Id="RCS0046" Action="Warning" />
    <Rule Id="RCS0048" Action="Hidden" />
    <Rule Id="RCS0049" Action="Warning" />
    <Rule Id="RCS0050" Action="Warning" />
    <Rule Id="RCS0051" Action="Warning" />
    <Rule Id="RCS0051i" Action="Warning" />
    <Rule Id="RCS0052" Action="Warning" />
    <Rule Id="RCS0052i" Action="Warning" />
    <Rule Id="RCS0055" Action="Warning" />
    <Rule Id="RCS0056" Action="Hidden" />
  </Rules>
</RuleSet>