@using BEditor.Core.Data.Property

<div class="mat-layout-grid" style="padding: 0;">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-5" style="margin-top: auto; margin-bottom: auto;">
            @Property.PropertyMetadata.Name
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
            <MatExpansionPanel Style="box-shadow: none;">
                <MatExpansionPanelSummary>
                    <MatExpansionPanelHeader>Value</MatExpansionPanelHeader>
                    @*<MatExpansionPanelSubHeader>Type your name and age</MatExpansionPanelSubHeader>*@
                </MatExpansionPanelSummary>
                <MatExpansionPanelDetails>
                    @for(int i = 0; i < Property.Value.Count; i++)
                    {
                        @*<MatTextField FullWidth="true" InputStyle="color: #ffffff;" Value="@v"></MatTextField>*@
                        <EasePropertyView_TextField Index="@i" Property="Property"></EasePropertyView_TextField>
                    }
                </MatExpansionPanelDetails>
            </MatExpansionPanel>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EaseProperty Property { get; set; }
}
