@using BEditor.Core.Data.Property
@using System.Linq
@using System.Linq.Expressions
@using System

<div class="mat-layout-grid" style="padding: 0;">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-5" style="margin-top: auto; margin-bottom: auto;">
            @Property.PropertyMetadata.Name
        </div>
        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-7">
            <MatSelectItem Style="min-width: -webkit-fill-available;" @bind-Value="@Property.SelectItem" Items="@ToList()">
                <ItemTemplate>
                    @context.ToString()
                </ItemTemplate>
            </MatSelectItem>
        </div>
    </div>
</div>

@code {
    // Todo : RecordCommandを使う
    [Parameter]
    public SelectorProperty Property { get; set; }

    private IReadOnlyList<object> ToList()
    {
        var list = new object[Property.PropertyMetadata.ItemSource.Count];
        for(int i = 0; i < list.Length; i++)
        {
            list[i] = Property.PropertyMetadata.ItemSource[i];
        }

        return list;
    }
}
