@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<style>
    .undericontext {
        text-align: center;
    }
</style>

<div class="mat-layout-grid mat-layout-grid-align-left">
    <div class="mat-layout-grid-inner">
        <div class="mat-layout-grid-cell">
            <MatIcon Icon="code" Style="font-size: 50px; display: block; text-align: center;"></MatIcon>
            <h2 class="undericontext">オープンソース</h2>
        </div>
        <div class="mat-layout-grid-cell">
            <MatIcon Icon="money_off" Style="font-size: 50px; display: block; text-align: center;"></MatIcon>
            <h2 class="undericontext">無料</h2>
        </div>
        <div class="mat-layout-grid-cell">
            <MatIcon Icon="extension" Style="font-size: 50px; display: block; text-align: center;"></MatIcon>
            <h2 class="undericontext">プラグイン</h2>
        </div>
    </div>
</div>