@page "/Download"
@page "/Download/{Platform}"

<h1 style="font-size: 4em;">Download</h1>

<MatCard Style="padding: 1rem;">
    <MatTabGroup>
        <MatTab Label="Windows">
            First Content
        </MatTab>
        <MatTab Label="Linux">
            Second Content
        </MatTab>
    </MatTabGroup>
</MatCard>

@code {

}
