name: Build NuGet Packages

on:
  workflow_call:
    inputs:
      nugetVer:
        required: true
        type: string
      asmVer:
        required: true
        type: string
      infoVer:
        required: true
        type: string

jobs:
  build-nuget:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          global-json-file: global.json

      - name: Restore
        run: |
          chmod +x build.sh
          ./build.sh restore

      - name: Build & Pack
        run: |
          ./build.sh nuget-pack --skip restore \
            --version ${{ inputs.nugetVer }} \
            --assembly-version ${{ inputs.asmVer }} \
            --informational-version ${{ inputs.infoVer }}

      - name: Save
        uses: actions/upload-artifact@v5
        with:
          name: Packages
          path: ./artifacts/*.nupkg
